VITE_SITE_URL=https://medinaprecisionpainting.com
VITE_BUSINESS_EMAIL=info@medinaprecisionpainting.com
VITE_BUSINESS_PHONE=4789552341
VITE_BUSINESS_PHONE_DISPLAY=(478) 955-2341
VITE_FORMSPREE_QUOTE_FORM_ID=
VITE_FORMSPREE_NEWSLETTER_FORM_ID=
VITE_USE_FORMSUBMIT=false
VITE_FACEBOOK_URL=
VITE_INSTAGRAM_URL=
VITE_GOOGLE_REVIEW_URL=https://www.google.com/search?q=Medina+Precision+Painting
